<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Register you pet</h3>
        <%= simple_form_for @pet do |f| %>
          <%= f.input :name, placeholder: 'name' %>
          <%= f.input :species, placeholder: 'specie' %>
          <%= f.input :price, placeholder: 'price', label: 'Price per day (€)' %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-warning btn-rounded' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
