<br>
<br>
<div class="pet-card-container">
  <h2><strong>Name:</strong> <%=  @pet.name %></h2>
  <div class="card-product d-flex justify-content-between">
    <div class="position-relative card-product-img-details">
      <img src="<%= cl_image_path @pet.photo.key, height: 300, crop: :fill %>" />
      <div class="card-product-infos position-absolute bottom-0 start-0">
        <p> <strong>Specie:</strong> <%=  @pet.species %> <br> <strong> Price:</strong> <%= '%.2f' % @pet.price %>€</p>
      </div>
    </div>
    <div class="card-btns align-text-center">
      <%= link_to "Back to pets", pets_path, :class=>"btn btn-warning btn-rounded btn-show  "%>
      <%= link_to "Book this pet",  new_pet_booking_path(@pet), :class=>"btn btn-warning btn-rounded btn-show "%>
      <%= button_to "Destroy this pet", @pet, :class=>"btn btn-warning btn-rounded btn-show  ", method: :delete if policy(@pet).destroy? %>
      <%= link_to "Edit pet details", edit_pet_path, :class=>"btn btn-warning btn-rounded btn-show " if policy(@pet).edit? %>
    </div>
    </div>
</div>
