<div class="container">
  <div class="card-product">
    <img src="<%= cl_image_path @pet.photo.key, height: 300, crop: :fill %>" />
    <div class="card-product-infos">
      <h2><strong>Name:</strong> <%=  @pet.name %></h2>
      <p> <strong>Specie:</strong> <%=  @pet.species %><strong> Price:</strong> <%= @pet.price %>€</p>
    </div>
  </div>
  <%= link_to "Back to pets", pets_path%>
  <%= link_to "Edit pet details", edit_pet_path%>
  <%= button_to "Destroy this pet", @pet, method: :delete if policy(@pet).destroy? %>
</div>
